body{
    font-family: sans-serif;
}
code{
    font-family: monospace;
    color:red;
}
.second-list{
    color:#bbb;
}
#assignment-instructions{
    color:#0000ff;
    font-family:sans-serif;
}

li+li{
    background: black;
    color:#fff;
}

ol>li{
    background: black;
    color:#fff;
}